body{
    margin: 0px;
    position: static;
    max-width: 100%;
    border: 3px solid;
}
header{
    background-color: rgb(201, 201, 201);
    padding: 20px;
    border-bottom: 2px solid;
}

a{
    color: blue;
}

.satu {
	margin:25px auto;
    float: left;
}
 
nav.menu ul {
	list-style: none;
	float:left;
	margin:0 0 0;
}
 
nav.menu ul li {
	margin:10px;
	float:left;
}

nav.menu ul figure{
    margin: 0;
}

nav.menu ul a {
    margin-left: 40px;
    margin-right: 40px;
	padding:25px;
	font-size: 16px;
}
.icon-navbar {
    float: right;
    padding-left: 48vw;
}
.one, .two, .three, .four, .five, .six {
    background-color: rgb(201, 201, 201);
    margin: 50px;
    padding: 30px;
}
.one, .four, .five {
    text-align: center;
}
table .td-one {
    float: left;
    margin-right: 50vw;
}
table i {
    float: left;
}
img {
    float: right;
    width: 10%;
    height: 5%;
}
.four i {
    margin: 15px;
}
.container-fluid {
    max-width: 100%;
}
footer{
    padding-bottom: 4vw;
    border-top: 2px solid;
}

#site{
    float: left;
    margin: 0;
    margin-left: 35px;
    list-style: none;
    padding-left: 20px;
    padding-right: 60px;
}

nav.menyu ul a {
    margin-right: 10px;
	font-size: 16px;
}
nav.menyu ul {
	list-style: none;
	margin:0 0 0;
}
 
nav.menyu ul li {
	float:left;
    margin: 10px;
}

#stay{
    list-style: none;
    float: right;
    margin-right: 3vw;
}

#subs{
    background-color: rgb(114, 114, 114);
    color: white;
    float: right;
}